<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ HUYCHUOI AUTO</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/" class="active">Trang chủ</a>
    <a href="/cars">Danh sách xe</a>
</nav>

<div class="hero">
    <h1>HUY CHUỐI AUTO</h1>
</div>

<div class="section">
    <h2>Xe Sang – Đẳng Cấp – Hiện Đại</h2>


    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?w=300&h=200&fit=crop" alt="Porsche 911 Turbo">
            <h3>lamborghini aventador</h3>
            <p>Hiệu suất mạnh mẽ – thiết kế đậm chất thể thao.</p>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1502877338535-766e1452684a?w=300&h=200&fit=crop" alt="BMW M4 Competition">
            <h3>BMW M4 Competition</h3>
            <p>Đỉnh cao hiệu suất – công nghệ tối tân.</p>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?w=300&h=200&fit=crop" alt="Rolls-Royce Phantom">
            <h3>honda crv</h3>
            <p>Sang trọng tuyệt đối – trải nghiệm đẳng cấp.</p>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1581092580492-d95a4ec7b8b1?w=300&h=200&fit=crop" alt="Mercedes AMG">
            <h3>Mercedes AMG</h3>
            <p>Phong cách thể thao – sang trọng đỉnh cao.</p>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1549921296-3a6e5e79f45f?w=300&h=200&fit=crop" alt="Pagani Huayra">
            <h3>Pagani Huayra</h3>
            <p>Thiết kế độc đáo – hiệu suất siêu xe.</p>
        </div>
    </div>



    <a href="/cars" class="btn">Khám phá bộ sưu tập</a>
</div>
<p>Showroom QDH mang đến những mẫu xe sang hàng đầu thế giới: Porsche, Mercedes, BMW, Rolls-Royce, Pagani…
    Khẳng định phong cách và đẳng cấp của bạn.</p>
</body>
</html>
